VITE_BASE_PATH=/arduinothermohygrometer/
VITE_API_BASEURL_LOCAL=http://localhost:5000
VITE_API_BASEURL_DEVELOPMENT=https://arduinothermohygrometer-development.example.com
VITE_API_BASEURL_STAGING=https://arduinothermohygrometer-staging.example.com
VITE_API_BASEURL_PRODUCTION=https://arduinothermohygrometer-production.example.com
VITE_API_HEADER_NAME=X-API-KEY
VITE_API_KEY=<API-KEY-HERE>
